.section-about {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;
  border-radius: 12px;
  padding: 40px 10%;
}

.div-about {
  width: 1500px;
  background-color: var(--white-700);

  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 60px;
  border-radius: 12px;
  padding: 40px 3%;
}

.div-about img {
  width: 300px;
}

.div-name {
  max-width: 600px;
}

.div-name h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
