* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(var(--white-200), var(--white-800));
  
}

h1, h2, h3, h4, h5, h6 {
  color: var(--masala-950);
}

p {
  color: var(--masala-950);
}