* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*Seccion de la imagen y el parrafo*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 10%;
  /*min-height: 80vh;*/
}

.hero img {
  width: 400px;
  object-fit: cover;
}

.hero-content {
  max-width: 520px
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--masala-950);

  text-align: center;
}

.hero-content p {
  font-size: 22px;
  line-height: 1.7;
  color: var(--masala-800);

  text-align: center;
}

