/*Seccion hero: imagen y el parrafo*/
.introduccion {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 60px;
  padding: 80px 10%;
}

.lovecraft-img img {
  width: 500px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.lovecraft-img figcaption {
  font-size: 20px;
}

.introduccion-cont {
  max-width: 520px;
}

.introduccion-cont h1 {
  font-size: 46px;
  margin-bottom: 40px;/*20*/
  text-align: left;
}

.introduccion-cont p {
  font-size: 22px;
  line-height: 1.7; /*espacio entre lineas del parrafo*/
  
  text-align: left;
}

/*Seccion hero: Cita del autor*/
.cita {
  margin-top: 100px; /*espacio de la cita para arriba*/
  border-left: 6px solid var(--fuzzy-wuzzy-brown-500);
  padding-left: 20px;
}

.cita blockquote p {
  font-size: 22px;
  line-height: 1.7;
  text-align: left;
  font-style: italic;
  margin-bottom: 0;
}

.cita figcaption {
  font-size: 15px;
  text-align: left;
  color: var(--masala-500);
  margin-top: 16px;/*espacio entre cita y autor*/
}

/*Seccion: Biografia infancia*/
.bio-infancia {
  display: flex;
  align-items: center;
  justify-content: center; /*elementos en el centro del div*/
  padding: 80px 10%;
  gap: 60px;
}

.bio-infancia-cont {
  max-width: 550px;
}

.bio-infancia-cont h2{
  font-size: 30px;
  margin-bottom: 20px;
}

.bio-infancia-cont p {
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}

.lovecraft-bebe {
  width: 300px;
}

.lovecraft-bebe img {
  width: 300px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.lovecraft-bebe figcaption {
  font-size: 14px;
  text-align: justify;
}

/*Seccion: Biografia adolescencia*/
.bio-adolescencia {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
  gap: 60px;
}

.lovecraft-adolescencia-img {
  max-width: 300px;
}

.lovecraft-adolescencia-img img {
  width: 300px;
  max-width: 300px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.lovecraft-adolescencia-img figcaption {
  font-size: 14px;
  text-align: justify;
}

.bio-adolescencia-cont {
  max-width: 550px;
}

.bio-adolescencia-cont h2{
  font-size: 20px;
  margin-bottom: 30px;
}

.bio-adolescencia-cont p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.7;
}

/*Seccion: que es el horor cosmico*/
.horror-cosmico {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
  gap: 60px;
}

.horror-cosmico-cont {
  max-width: 550px; 
}

.horror-cosmico-cont h2 {
  font-size: 30px;/*40*/
  margin-bottom: 20px;
}

.horror-cosmico-cont p {
  font-size: 18px;/*22*/
  line-height: 1.7;
  text-align: justify;
}

.bootes-img {
  width: 300px;/*400*/
}

.bootes-img img {
  width: 300px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.bootes-img figcaption {
  font-size: 14px;
  text-align: justify;
}
